{% extends 'authentication/basic.html' %}

{% block title%} Home {% endblock %}
{% block body %}

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="text-align: center; height: 800px; margin-top: 0%; background-color:rgb(211, 242, 250)">
            
          <div class="container">
            <h1 style="padding-top: 200px;">Welcome to the New </h1>
            <h1 style="text-align: center;">Graphical Password System</h1>
          
          </div> 
        </div>
        

      </div>

      


{% endblock %}





